.App {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.Card {
  width: fit-content;
  background-color: white;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: max-content;
}

.recharts-legend-wrapper {
  padding-top: 2rem;
}
